.list {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.gallery {
  display: block;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
  }
}
.gallery li {
  width: 100%;

  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.photo-card {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms $timefunction;

  &:hover .stats,
  &:focus .stats {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: $buttonBoxShadow;
  }
}
